---
title: Phase indicator
---
<%= partial "components/feedback-modal.html" %>

<div class="compdoc row">
  <div class="col-xs-12">
    <div class="compdoc-header">
      <h1>Phase indicator</h1>
      <p>Badge to show the current development phase of the project</p>
    </div>
  </div>
</div>

<div class="example row">
  <div class="col-xs-12">
    <%= partial "components/phase-indicator-single.html" %>
  </div>
</div>

<div class="compdoc row">
  <div class="col-xs-12">
    <hr>
    <h3>Dependencies</h3>
    <dl class="dl-horizontal">
      <dt>Bootstrap</dt>
      <dd><%= link_to 'Bootstrap Sass', 'https://github.com/twbs/bootstrap-sass' %> (incl. Bootstrap js)</dd>
    </dl>
  </div>
</div>

<div class="compdoc row">
  <div class="col-xs-12">
    <hr>
    <h3>Code</h3>
<div class="code">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#html" aria-controls="html" role="tab" data-toggle="tab">HTML</a></li>
    <li role="presentation"><a href="#scss" aria-controls="scss" role="tab" data-toggle="tab">SCSS</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="html">
        <% code("html") do %>
<%= partial "components/phase-indicator-single.html" %>
        <% end %>
      </div>
    <div role="tabpanel" class="tab-pane" id="scss">
      <% code("scss") do %>
// CSS GOES HERE
      <% end %>
    </div>
  </div>

</div>
  </div>
</div>


<div class="compdoc row">
  <div class="col-xs-12">
    <div class="compdoc-header">
      <h1>Phase indicator process</h1>
      <p>Process element to show the current development phase of the project</p>
    </div>
  </div>
</div>

<div class="example row">
  <div class="col-xs-12">
    <%= partial "components/phase-indicator-process.html" %>
  </div>
</div>

<div class="compdoc row">
  <div class="col-xs-12">
    <hr>
    <h3>Dependencies</h3>
    <dl class="dl-horizontal">
      <dt>Bootstrap</dt>
      <dd><%= link_to 'Bootstrap Sass', 'https://github.com/twbs/bootstrap-sass' %> (incl. Bootstrap js)</dd>
    </dl>
  </div>
</div>

<div class="compdoc row">
  <div class="col-xs-12">
    <hr>
    <h3>Code</h3>
<div class="code">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#html" aria-controls="html" role="tab" data-toggle="tab">HTML</a></li>
    <li role="presentation"><a href="#scss" aria-controls="scss" role="tab" data-toggle="tab">SCSS</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="html">
        <% code("html") do %>
<%= partial "components/phase-indicator-process.html" %>
        <% end %>
      </div>
    <div role="tabpanel" class="tab-pane" id="scss">
      <% code("scss") do %>
// CSS GOES HERE
      <% end %>
    </div>
  </div>

</div>
  </div>
</div>