---
title: dev.hel.fi Login page
---

<div class="row">
  <div class="col-xs-12">
    <%= partial "components/sign-in.html" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
    <h2>Dependencies</h2>
    <dl class="dl-horizontal">
      <dt>Bootstrap</dt>
      <dd><%= link_to 'Bootstrap Sass', 'https://github.com/twbs/bootstrap-sass' %></dd>
      <dt>Bootstrap theme</dt>
      <dd><%= link_to 'Hel.fi bootstrap theme', 'https://github.com/terotic/bootstrap-hel-fi/tree/master/source/stylesheets/bootstrap-hel' %></dd>
      <dt>Bootstrap Social</dt>
      <dd><%= link_to 'Bootstrap Social', 'https://github.com/lipis/bootstrap-social' %></dd>
      <dt>Font</dt>
      <dd>For hel.fi theme you need to include licenced web font <%= link_to 'Karbid', 'https://typekit.com/fonts/ff-karbid-web-pro' %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
    <h2>Code</h2>
<div class="code">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#html" aria-controls="html" role="tab" data-toggle="tab">HTML</a></li>
    <li role="presentation"><a href="#scss" aria-controls="scss" role="tab" data-toggle="tab">SCSS</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="html">
        <% code("html") do %>
<%= partial "components/sign-in.html" %>
        <% end %>
      </div>
    <div role="tabpanel" class="tab-pane" id="scss">
      <% code("scss") do %>
.hel-login-box {
  margin: $padding-large-vertical auto;
  max-width: 400px;
}

.hel-login-logo {
  height: 5em;
}

.hel-login-methods {
  @extend .well;
}

.login-method {
  margin-bottom: 1em;
  .short-description {
    margin-top: 6px;
  }

  .ext-icon img {
    max-width: 24px;
    max-height: 24px;
  }
}
      <% end %>
    </div>
  </div>

</div>
  </div>
</div>
